/* DateInput ************************************************************/

.date-input .nen {
  width: 5rem;
  margin-left: 0.2rem;
}

.date-input .month,
.date-input .day {
  width: 3rem;
  margin-left: 0.3rem;
}

.date-input .label {
  margin-left: 0.1rem;
}

/* Selection *********************************************************************/

.appbase-selection .appbase-selection-item {
  cursor: pointer;
}

.appbase-selection .appbase-selection-item .appbase-selection-item-selected{
  background-color: #eee;
}