/* DateInput ************************************************************/

.appbase-date-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.appbase-date-input .nen {
  width: 5rem;
  margin-left: 0.2rem;
}

.appbase-date-input .month,
.appbase-date-input .day {
  width: 3rem;
  margin-left: 0.3rem;
}

.appbase-date-input .label {
  margin-left: 0.1rem;
}

/* Selection *********************************************************************/

.appbase-selection .appbase-selection-item {
  cursor: pointer;
}

.appbase-selection .appbase-selection-item.appbase-selection-item-selected{
  background-color: #ccc;
}