/* date input *************************************/

.appbase-date-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.appbase-date-input .nen {
  width: 5rem;
  margin-left: 0.2rem;
}

.appbase-date-input .month,
.appbase-date-input .day {
  width: 3rem;
  margin-left: 0.3rem;
}

.appbase-date-input .label {
  margin-left: 0.1rem;
}

/* patient form *************************************/

.patient-form .last-name-input,
.patient-form .first-name-input,
.patient-form .last-name-yomi-input,
.patient-form .first-name-yomi-input
{
  width: 5rem;
}

.patient-form .address-input,
.patient-form .phone-input
{
  width: 12rem;
}

/* shahokokuho form **********************************/

.shahokokuho-form .hokensha-bangou-input {
  width: 6rem;
}

.shahokokuho-form .hihokensha-kigou-input,
.shahokokuho-form .hihokensha-bangou-input
{
  width: 6rem;
  width: 6rem;
}

.shahokokuho-form .edaban-input {
  width: 3rem;
}

.shahokokuho-form .kourei-input {
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.shahokokuho-form .kourei-input .lower-row{
  margin-top: -4px;
}

.shahokokuho-form .kourei-input input {
  margin-top: 0;
  margin-bottom: 0;
}
