:root {
  --primary-color:   #007bff;
  --secondary-color: #6c757d;
  --success-color:   #28a745;
  --danger-color:    #dc3545;
  --warning-color:   #ffc107;
  --info-color:      #17a2b8;
}

body {
  font-family: sans-serif;
  margin: 20px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  padding: 2px;
}

a:hover {
  background-color: #eee
}

button + button {
  margin-left: 0.3em;
}

input + button {
  margin-left: 0.3rem;
}

input[type=text]:focus {
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

input[type=text] {
  padding: 4px 4px;
  border: 1px solid var(--secondary-color)
}

input[disabled]+label {
  color: #ccc;
}

textarea {
  padding: 4px;
}

textarea:focus {
  outline: none;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
}

/* select {
  font-size: 0.8rem;
  margin-left: 3px;
  padding: 2px;
} */

select + select {
  margin-left: 6px;
}
