
/* Form ****************************************************************/

.domq-form-value .input-group {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

/* Date Input ***********************************************************/

.domq-date-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

