
/* Form ****************************************************************/

.domq-form-value .input-group {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

/* Date Input ***********************************************************/

.domq-date-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.domq-date-input {
  width: 10rem;
}

.domq-nen-select,
.domq-nen-label,
.domq-month-select,
.domq-month-label {
  margin-left: 3px;
}

.domq-date-picker-dates-tab {
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 6px;
  margin-right: 0.5rem;
}

.domq-date-picker-month-block{
  user-select: none;
}

.domq-date-picker-date-box {
  display: inline-block;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.domq-date-picker-date-box:hover {
  background-color: #ccc;
}

.domq-date-picker-date-box.current {
  background-color: #ffa700;
}

/* Icons *****************************************************************/

.domq-icon {
  width: 1.2rem;
  height: 1.2rem;
  stroke: gray;
  stroke-width: 2;
  fill: none;
  vertical-align: middle;
}

.domq-icon-circle {
  stroke-width: 20;
}

.domq-icon-filled {
  fill: gray;
  stroke: none;
}

/* Screen ****************************************************************/

.domq-screen {      
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #5a6268;
  opacity: 0;
  overflow-y: auto;
}

/* Context Menu **********************************************************/

.domq-context-menu {
  background: rgba(255, 255, 255, 1);
  border: 1px solid gray;
  padding: 6px;
}

/* Pull Down *************************************************************/

.domq-pull-down.link {
  display: inline-flex;
  align-items: center;
}

.domq-pull-down.link svg {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.15rem;
  position: relative;
  top: -0.08rem;
  fill: var(--primary-color)
}

.domq-pull-down.button svg {
  fill: #989898;
}

.domq-screen .domq-pull-down-screen {
  background-color: transparent;
  opacity: 1;
}