
/* Form ****************************************************************/

.domq-form-value .input-group {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

/* Date Input ***********************************************************/

.domq-date-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.domq-date-input {
  width: 10rem;
}

.domq-nen-select,
.domq-nen-label,
.domq-month-select,
.domq-month-label {
  margin-left: 3px;
}

.domq-date-picker-dates-tab {
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 6px;
  margin-right: 0.5rem;
}

.domq-date-picker-month-block{
  user-select: none;
}

.domq-date-picker-date-box {
  display: inline-block;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.domq-date-picker-date-box:hover {
  background-color: #ccc;
}

