*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.banner {
  background-color: #eee;
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#top-menu-box {
  float: right;
}

.date-column {
  width: 160px;
}

.date {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 4px;
  margin-bottom: 10px;
}

.date-column.national-holiday .date-label, 
.date-column.ad-hoc-holiday .date-label {
  color: red;
}

.date-column.national-holiday .date, 
.date-column.ad-hoc-holiday .date {
  border-color: red;
}

.appoint-time-box {
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 6px;
}

.appoint-time-box.vacant {
  font-weight: bold;
}

.appoint-time-box.appoint-regular {
  background-color: #e8e8e8;
}

.appoint-time-box.appoint-regular.vacant {
  background-color: #9e9;
}

.appoint-time-box.appoint-flu-vac {
  background-color: #ffefd5
}
.appoint-time-box.appoint-flu-vac.vacant {
  background-color: #ffdab9
}

.form-value svg {
  flex: 0 0 auto;
}

.form-value .input-group {
  display: flex;
  width: 100%;
  overflow: hidden;
  align-items: center;
  align-content: center;
}

.appoint-dialog-body {
  width: 280px;
}

.appoint-dialog-form-table {
  table-layout: auto;
  width: 100%
}

.appoint-dialog-form-table .form-key {
  width: 4rem;
}

.appoint-dialog-form-table .name-input {
  flex: 1;
  margin-right: 0.3rem;
}

.kenshin-area {
  font-weight: normal;
  font-size: 1rem;
  vertical-align: middle;
}

.appoint-history {
  width: 400px;
}

