*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.banner {
  background-color: #eee;
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

#top-menu-box {
  float: right;
}

.date-column {
  width: 160px;
}

.date {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 4px;
  margin-bottom: 10px;
}

.date-column.national-holiday .date-label, 
.date-column.ad-hoc-holiday .date-label {
  color: red;
}

.date-column.national-holiday .date, 
.date-column.ad-hoc-holiday .date {
  border-color: red;
}

.appoint-time-box {
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 6px;
}

.appoint-time-box.vacant {
  font-weight: bold;
}

.appoint-time-box.appoint-regular {
  background-color: #e8e8e8;
}

.appoint-time-box.appoint-regular.vacant {
  background-color: #9e9;
}

.appoint-time-box.appoint-flu-vac {
  background-color: #ffefd5
}
.appoint-time-box.appoint-flu-vac.vacant {
  background-color: #ffdab9
}

.make-appoint-dialog-body,
.edit-appoint-dialog-body {
  width: 280px;
}

.edit-appoint-form-table {
  table-layout: auto;
  width: 100%
}

.edit-appoint-form-table .form-key {
  width: 4rem;
}

.edit-appoint-form-table .name-input-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.edit-appoint-form-table .name-input-wrapper input {
  min-width: 0;
  width: auto;
}

.edit-appoint-form-table .name-input {
  flex-grow: 1;
  flex-shrink: 1;
}

.edit-appoint-form-table svg {
  flex-grow: 0;
  flex-shrink: 0;
}