.banner {
  background-color: #eee
}

.date-column {
  width: 160px;
}

.date {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 4px;
  margin-bottom: 10px;
}

.appoint-time-box {
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 6px;
}

.appoint-time-box.vacant {
  font-weight: bold;
}

.appoint-time-box.appoint-regular {
  background-color: #e8e8e8;
}

.appoint-time-box.appoint-regular.vacant {
  background-color: #9e9;
}

.appoint-time-box.appoint-flu-vac {
  background-color: #ffefd5
}
.appoint-time-box.appoint-flu-vac.vacant {
  background-color: #ffdab9
}