/* Date Input ***********************************************************/

.domq-date-input .domq-icon {
  position: relative;
  top: -0.15rem;
  cursor: pointer;
}

.domq-date-input .domq-icon:nth-of-type(1) {
  margin-left: 6px;
}

.domq-date-picker {
  background: white;
  border: 2px solid orange;
  padding: 6px;
  border-radius: 6px;
}

.domq-date-picker .year-nen {
  white-space: nowrap;
}

.domq-date-picker-dates-tab {
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
  margin: 6px auto;
  justify-content: center
}

.domq-date-picker-date-box {
  cursor: pointer;
  text-align: center;
}

.domq-date-picker-date-box:hover {
  background-color: #eee;
}

.domq-date-picker-date-box.init-date {
  background-color: #ffe7bf;
}

.domq-date-picker-date-box.init-date-equiv {
  background-color: #dcdcdc;
}

.domq-date-picker-date-box.suggest-date {
  background-color: #89cff0;
}

.domq-date-picker-date-box.suggest-date-equiv {
  background-color: #e1ebee;
}

.domq-date-picker-date-box.sunday {
  color: #ff0000;
}

.domq-date-picker-date-box.saturday {
  color: #009900;
}

.domq-date-picker-date-box.pre-month,
.domq-date-picker-date-box.post-month {
  opacity: 0.4;
}

.domq-date-picker-year-disp .domq-icon,
.domq-date-picker-month-disp .domq-icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  cursor: pointer;
  stroke: orange;
}

.domq-date-picker-year-disp .domq-icon-chevron-left,
.domq-date-picker-month-disp .domq-icon-chevron-left {
  left: 2px;
}

.domq-date-picker-year-disp .domq-icon-chevron-right,
.domq-date-picker-month-disp .domq-icon-chevron-right {
  left: -3px;
}

.domq-date-picker .year-nen .domq-icon-hand {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -2px;
  cursor: pointer;
  stroke: orange;
}

.domq-date-picker.month-disp {
  margin-left: 10px;
}

.domq-date-input-form-gengou {
  margin-right: 1px;
}

.domq-date-input-form-nen, 
.domq-date-input-form-month, 
.domq-date-input-form-day {
  width: 1.5rem;
  margin-left: 4px;
  margin-right: 2px;
}

/*
.domq-date-picker .year-nen .domq-icon-cog {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -1px;
  stroke: light-gray;
  cursor: pointer;
  margin-left: 6px;
}
*/