a {
    color: #007bff;
    word-break: keep-all;
}

button {
    min-height: 1.68rem;
}

#page-layout1-banner {
    background-color: #17a2b8;
    color: white;
}

.table .header {
    font-weight: bold;
}