body {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: #007bff;
  word-break: keep-all;
}

button {
  min-height: 1.68rem;
}

#content {
  margin: 10px 0;
}

#banner {
  background-color: navy;
  color: white;
  font-size: 40px;
  padding: 16px;
}

#workarea {
  display: flex;
  grid-template-columns: 180px auto;
}

#side-bar {
  margin-top: 10px;
  flex-basis: 200px;
}

#side-menu {
  background-color: #eee;
  padding: 6px;
}

#side-menu a {
  display: block;
}

#side-menu a.current {
  font-weight: bold;
}

#hotline-input {
  width: 100%;
  height: 5rem;
  margin: 10px 0 0 0;
  resize: vertical;
}

#hotline-commands {
  margin: 4px 0 0 0;
}

#hotline-commands a {
  font-size: 85%;
  margin-left: 0.3rem;
}

#hotline-messages {
  width: 100%;
  height: 15rem;
  margin: 4px 0 0 0;
}

.practice-main {
  flex: 1 1 auto;
  margin: 10px 0 0 10px;
}

.practice-right-column {
  flex-basis: 240px;
  margin: 10px 0 0 10px;
}

.practice-header {
  display: flex;
  align-items: center;
}

.practice-header-title {
  font-weight: normal;
  margin: 0 100px 0 0;
  padding: 0;
  font-size: 1.5rem;
  display: inline-block;
}

.practice-header-choice {
  margin-right: 20px;
}

.table .header {
  font-weight: bold;
}
