*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

a {
  color: #007bff;
  word-break: keep-all;
}

button {
  min-height: 1.68rem;
}

.domq-modal {
  border: 2px solid gray;
}

#content {
  margin: 10px 30px;
  width: 100%;
}

#banner {
  background-color: #17a2b8;
  color: white;
  font-size: 40px;
  padding: 16px;
  width: 100%;
}

#workarea {
  display: flex;
  width: 100%;
}

#side-bar {
  width: 200px;
  margin-top: 10px;
}

#side-menu {
  background-color: #eee;
  padding: 6px;
}

#side-menu a {
  display: block;
}

#side-menu a.current {
  font-weight: bold;
}

#hotline-input {
  width: 100%;
  height: 5rem;
  margin: 10px 0 0 0;
  resize: vertical;
}

#hotline-commands {
  margin: 4px 0 0 0;
}

#hotline-commands a {
  font-size: 85%;
  margin-left: 0.3rem;
}

#hotline-messages {
  width: 100%;
  height: 15rem;
  margin: 4px 0 0 0;
}

#main {
  flex: 1 1 auto;
  margin: 10px 0 0 10px;
}

#main h1 {
  font-weight: normal;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.table .header {
  font-weight: bold;
}

.cashier-dialog {
  width: 360px;
}

.cashier-dialog .detail-table {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding: 6px 0;
}

.cashier-dialog .detail-table .right-columng {
  width: 6rem;
}

.cashier-dialog .detail-table .section-title {
  font-weight: bold;
}

.cashier-dialog .charge-line {
  font-weight: bold;
  color: var(--primary-color);
}

