body {
  width: 860px;
  margin: 0 auto;
}

a {
  color: #007bff;
  word-break: keep-all;
}

button {
  min-height: 1.68rem;
}

.domq-modal {
  border: 2px solid gray;
}

#content {
  margin: 10px 0;
}

#banner {
  background-color: #17a2b8;
  color: white;
  font-size: 40px;
  padding: 16px;
}

#workarea {
  display: grid;
  grid-template-columns: 180px auto;
}

#side-bar {
  margin-top: 10px;
}

#side-menu {
  background-color: #eee;
  padding: 6px;
}

#side-menu a {
  display: block;
}

#side-menu a.current {
  font-weight: bold;
}

#hotline-input {
  width: 100%;
  height: 5rem;
  margin: 10px 0 0 0;
  resize: vertical;
}

#hotline-commands {
  margin: 4px 0 0 0;
}

#hotline-commands a {
  font-size: 85%;
  margin-left: 0.3rem;
}

#hotline-messages {
  width: 100%;
  height: 15rem;
  margin: 4px 0 0 0;
}

#main {
  flex: 1 1 auto;
  margin: 10px 0 0 10px;
}

#main h1 {
  font-weight: normal;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.table .header {
  font-weight: bold;
}

.cashier-dialog {
  width: 360px;
}

.cashier-dialog .detail-table {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding: 6px 0;
}

.cashier-dialog .detail-table .right-columng {
  width: 6rem;
}

.cashier-dialog .detail-table .section-title {
  font-weight: bold;
}

.cashier-dialog .charge-line {
  font-weight: bold;
  color: var(--primary-color);
}

/* Patient Management ***************************************************************/

.patient-management .search-patient-box {
  display: inline-box;
  float: right;
  vertical-align: "middle"
}

.patient-management .search-patient-form {
  margin-left: 0.4rem;
  display: inline-block;
}

.patient-management .search-patient-form button {
  margin-left: 0.2rem;
}

.patient-management .work-block {
  padding: 0.2rem;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
}

.patient-management .work-block .block-title {
  font-weight: bold;
  padding: 0.3rem;
  background-color: #eee;
}

.patient-management .work-block .block-content {
  margin: 1rem;
}

.patient-management .work-block .block-commands {
  margin: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.patient-management .new-patient-form .name input + input, 
.patient-management .new-patient-form .yomi input + input{
  margin-left: 0.3rem;
}

/* Subblocks ************************************************************************/

.work-block .subblocks {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  justify-content: space-between;
  row-gap: 10px;
}

.work-block .subblocks .subblock {
  border: 2px solid orange;
  border-style: dotted;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.work-block .subblocks .subblock .subblock-title {
  font-weight: bold;
}

.work-block .subblocks .subblock .subblock-content {
  margin-top: 10px;
}

.work-block .subblocks .subblock .subblock-commands {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Patient Management / Search ******************************************************/

.patient-management .search-patient-block .content {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.patient-management .search-patient-block .content .left-pane {
  flex: 1 1 0;
  height: 260px;
  overflow: auto;
  margin-right: 0.5rem;
}

.patient-management .search-patient-block .content .right-pane {
  flex: 1 1 0;
  margin-left: 0.5rem;
}

/* Manage Patient Block **********************************************************/

.manage-patient-block-content {
  display: flex;
  width: 100%;
}

.manage-patient-block-content .left {
  flex: 1 1 0;
}

.manage-patient-block-content .right {
  flex: 1 1 0;
}

/* Hoken List Disp ****************************************************************/

.hoken-list-disp {
  max-height: 260px;
  overflow-y: auto;
}

.hoken-list-disp .zoom-in-icon {
  margin-right: 0.3rem;
}

/* Hoken Disp ***********************************************************************/

.shahokokuho-disp .domq-form-key,
.shahokokuho-form .domq-form-key {
  color: #666;
}

.shahokokuho-form .appbase-date-input .nen {
  width: 3rem;
}

.shahokokuho-form .appbase-date-input .nen + span {
  margin-right: 60px;
}

.shahokokuho-form .appbase-date-input .month {
  width: 3rem;
  margin-left: 0;
}

.shahokokuho-form .appbase-date-input .day {
  width: 3rem;
}

/* Records *****************************************************************/

#main .records .header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

#main .records .header h1 {
  display: inline-block;
  margin: 0 4rem 0 0;
}

.records-search-patient-box .domq-selection {
  max-height: 200px;
  overflow-y: auto;
  max-width: 400px;
  overflow-x: auto;
}

.records-recent-visit-box .domq-selection {
  max-height: 500px;
  overflow-y: auto;
  max-width: 400px;
  overflow-x: auto;
}

/* VisitBlock *****************************************************************/

.visit-block {
  margin-bottom: 10px;
  /* width: 100%; */
}

.visit-block .visit-title {
  background-color: #eee;
  font-weight: bold;
  padding: 3px 6px;
}

.visit-block .visit-record {
  display: grid;
  grid-template-columns: 50% 50%;
} */

.visit-block .visit-record .left {
  padding-right: 10px;
}

.visit-block .visit-record .right {
  padding-left: 10px;
}

/* Scan ***********************************************************************/

#main .scan .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#main .scan .header h1 {
  display: inline-block;
  margin: 0 4rem 0 0; 
}

#main .scan .header button {
  border: 1px solid gray;
  display: block;
}


#main .scan h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}
