@import url("./reception-css/reception-general.css");
@import url("./reception-css/cashier.css");

.reception-service-title {
  font-size: 1.5rem;
}

/* Patient Management ***************************************************************/

.patient-management .search-patient-box {
  display: inline-box;
  float: right;
  vertical-align: "middle"
}

.patient-management .search-patient-form {
  margin-left: 0.4rem;
  display: inline-block;
}

.patient-management .search-patient-form button {
  margin-left: 0.2rem;
}

.patient-management .work-block {
  padding: 0.2rem;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 10px;
}

.patient-management .work-block .block-title {
  font-weight: bold;
  padding: 0.3rem;
  background-color: #eee;
}

.patient-management .work-block .block-content {
  margin: 1rem;
}

.patient-management .work-block .block-commands {
  margin: 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.patient-management .new-patient-form .name input + input, 
.patient-management .new-patient-form .yomi input + input{
  margin-left: 0.3rem;
}

/* Subblocks ************************************************************************/

.work-block .subblocks {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  justify-content: space-between;
  row-gap: 10px;
}

.work-block .subblocks .subblock {
  border: 2px solid orange;
  border-style: dotted;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.work-block .subblocks .subblock .subblock-title {
  font-weight: bold;
}

.work-block .subblocks .subblock .subblock-content {
  margin-top: 10px;
}

.work-block .subblocks .subblock .subblock-commands {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Patient Management / Search ******************************************************/

.patient-management .search-patient-block .content {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.patient-management .search-patient-block .content .left-pane {
  flex: 1 1 0;
  height: 260px;
  overflow: auto;
  margin-right: 0.5rem;
}

.patient-management .search-patient-block .content .right-pane {
  flex: 1 1 0;
  margin-left: 0.5rem;
}

/* Manage Patient Block **********************************************************/

.manage-patient-block-content {
  display: flex;
  width: 100%;
}

.manage-patient-block-content .left {
  flex: 1 1 0;
}

.manage-patient-block-content .right {
  flex: 1 1 0;
}

/* Hoken List Disp ****************************************************************/

.hoken-list-disp {
  max-height: 260px;
  overflow-y: auto;
}

.hoken-list-disp .zoom-in-icon {
  margin-right: 0.3rem;
}

/* Hoken Disp ***********************************************************************/

.shahokokuho-disp .domq-form-key,
.shahokokuho-form .domq-form-key {
  color: #666;
}

.shahokokuho-form .appbase-date-input .nen {
  width: 3rem;
}

.shahokokuho-form .appbase-date-input .nen + span {
  margin-right: 60px;
}

.shahokokuho-form .appbase-date-input .month {
  width: 3rem;
  margin-left: 0;
}

.shahokokuho-form .appbase-date-input .day {
  width: 3rem;
}

/* Records *****************************************************************/

#main .records .header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

#main .records .header h1 {
  display: inline-block;
  margin: 0 4rem 0 0;
}

.records-search-patient-box .domq-selection {
  max-height: 200px;
  overflow-y: auto;
  max-width: 400px;
  overflow-x: auto;
}

.records-recent-visit-box .domq-selection {
  max-height: 500px;
  overflow-y: auto;
  max-width: 400px;
  overflow-x: auto;
}

/* VisitBlock *****************************************************************/

.visit-block {
  margin-bottom: 10px;
  /* width: 100%; */
}

.visit-block .visit-title {
  background-color: #eee;
  font-weight: bold;
  padding: 3px 6px;
}

.visit-block .visit-record {
  display: grid;
  grid-template-columns: 50% 50%;
} */

.visit-block .visit-record .left {
  padding-right: 10px;
}

.visit-block .visit-record .right {
  padding-left: 10px;
}

/* Scan ***********************************************************************/

.scan .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.scan .header h1 {
  display: inline-block;
  margin: 0 4rem 0 0; 
}

.scan .header button {
  border: 1px solid gray;
  margin-right: 10px;
}

.scan-box {
  border: 1px solid var(--info-color);
  padding: 10px;
  border-radius: 4px; 
  margin-bottom: 10px;
}

.scan-box-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.scan .doc-scan-subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.scan .doc-scan-subcontent {
  margin: 10px 0 10px 10px;
}


/* .scan .scan-box {
  border: 1px solid var(--info-color);
  padding: 10px;
  border-radius: 4px; 
  margin-bottom: 10px;
}

.scan .scan-patient-images {
  border: 1px solid var(--success-color);
  padding: 10px;
  border-radius: 4px; 
  margin-bottom: 10px;
}

.scan .scan-box .search-area {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.scan .scan-box h2 {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

.scan .scan-box .search-area form {
  display: inline-box;
  margin: 0 0 0 0.5rem;
}

.scan .scan-box .search-area form button {
  margin: 0 0 0 0.2rem;
}

.scan .scan-box .search-result {
  max-width: 16rem;
  overflow-x: auto;
  border-radius: 4px;
  margin: 10px 0;
}

.scan .scan-box .selected-patient {
  margin: 10px 0;
}

.scan .scan-box .scan-type-area,
.scan .scan-box .scanner-selection-area,
.scan .scan-box .scan-progress-area {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.scan .scan-box .scan-type-area select,
.scan .scan-box .scanner-selection-area select {
  margin-left: 10px;
}

.scan .scan-box .scanner-selection-area button,
.scan .scan-box .scanner-selection-area a {
  margin-left: 10px;
}

.scan .scan-box .command-box {
  display: flex;
  justify-content: flex-end;
}

.scan .scan-box .scan-progress-area span {
  margin-left: 10px;
}

.scan .scan-box .scanned {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.scan .scan-box .scanned .scanned-item {
  display: flex;
  align-items: center;
}

.scan .scan-box .scanned .scanned-item a {
  margin-left: 10px;
}

.scan .scan-box .scanned .scanned-item .upload-file-disp {
  margin-right: 10px;
}

.scan .scan-box .scanned .upload-button {
  margin-top: 10px;
}

.scan-patient-images-list {
  max-height: 400px;
  overflow: auto;
}

.scan-patient-images img {
  width: 315px;
  height: 446px;
}

.scan-patient-images-item {
  cursor: pointer;
}

.scan-patient-images-item.selected {
  font-weight: bold;
} */
